<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/styles/img/image.png" type="image/x-icon">
    <title>Login/Sign Up</title>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <header>
        <img src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px">
    </header>
    <div class="container">
        <div id="login" class="auth-form">
            <h1>Login</h1>
            <form method="post" action="/verification">
                <input type="hidden" name="intent" value="login">
                <input type="email" name="email" placeholder="Email" required>
                <input type="tel" id="phone" name="phone" placeholder="Cellulare" pattern="(\+\d{1,3})?\d{9,15}">
                <input type="text" name="username" placeholder="Username" required>
                <input type="password" name="password" placeholder="Password" required>
                <button type="submit"><span>Log In</span></button>
                <a href="/resetPassword">Ho dimenticato la Password</a>
            </form>
            <p id="signupBtn">Non hai un'account?<a onclick="toggleForm('signup')">Registrati</a></p>
        </div>
        <div id="signup" class="auth-form">
            <h1>Inserisci I Dati</h1>
            <form>
                <input type="hidden" name="intent" value="signup">
                <input type="email" name="email" id="signupEmail" placeholder="Email" required>
                <input type="tel" name="phone" id="signupPhone" placeholder="Cellulare" pattern="(\+\d{1,3})?\d{9,15}">
                <input type="text" name="username" id="signupUsername" placeholder="Username" required>
                <input type="password" name="password" id="signupPassword" placeholder="Password" required>
                <h6 class="aggiungiDati"><span>Registrati</span></h6>
            </form>
            <p id="loginBtn">Hai già un account? <a onclick="toggleForm('login')">Accedi</a></p>
        </div>
    </div>
    <script>
        const addData = document.querySelector('.aggiungiDati');
        addData.addEventListener('click', () =>{
            const signupEmail = document.getElementById('signupEmail').value;
            const signupPhone = document.getElementById('signupPhone').value;
            const signupUsername = document.getElementById('signupUsername').value;
            const signupPassword = document.getElementById('signupPassword').value;
            const datiEmail = document.getElementById('datiEmail'); 
            const datiPhone = document.getElementById('datiPhone');
            const datiUsername = document.getElementById('datiUsername');
            const datiPassword = document.getElementById('datiPassword');
            datiEmail.value = signupEmail;
            datiPhone.value = signupPhone;
            datiUsername.value = signupUsername;
            datiPassword.value = signupPassword;
            document.getElementById('personalDataForm').style.display = 'block';
        });
    </script>
    <div id="personalDataForm" style="display: none;">
        <form id="DataForm" action="/verification" method="POST">
            <h1>Per poter emettere le fatture compila questo form con i tuoi dati personali</h1>
            <input type="hidden" name="intent" value="signup" >
            <input type="hidden" id="datiEmail" name="email" required>
            <input type="hidden" id="datiPhone" name="phone" pattern="(\+\d{1,3})?\d{9,15}" required>
            <input type="hidden" id="datiUsername" name="username" required>
            <input type="hidden" id="datiPassword" name="password" required>
            <div class="dataFormFields">
                <div class="dataFormField">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>
                <div class="dataFormField">
                    <label for="cognome">Cognome:</label>
                    <input type="text" id="cognome" name="cognome" required>
                </div>
                <div class="dataFormField">
                    <label for="codiceFiscale">Codice Fiscale:</label>
                    <input type="text" id="codiceFiscale" name="codiceFiscale" required>
                </div>
                <div class="dataFormField">
                    <label for="via">Via:</label>
                    <input type="text" id="via" name="via" required>
                </div>
                <div class="dataFormField">
                    <label for="nCivico">Numero Civico:</label>
                    <input type="text" id="nCivico" name="nCivico" required>
                </div>
                <div class="dataFormField">
                    <label for="CAP">CAP:</label>
                    <input type="text" id="CAP" name="CAP" required>
                </div>
                <div class="dataFormField">
                    <label for="citta">Città:</label>
                    <input type="text" id="citta" name="citta" required>
                </div>
                <div class="dataFormField">
                    <label for="provincia">Provincia:</label>
                    <select id="provincia" name="provincia"></select>
                </div>
                <div class="dataFormField">
                    <label for="stato">Stato (Sigla):</label>
                    <input type="text" id="stato" name="stato" value="IT" required>
                </div>
                <div class="dataFormField">
                    <label for="policy">Ho letto e accetto la <a href="/privacy-policy.pdf">Privacy e Cookie policy</a>  e le <a href="/condizioni-uso.pdf">Condizioni di utilizzo</a>.</label>
                    <input type="checkbox" id="policy" name="policy" required>
                </div>
                <button type="submit">Registrati</button>
            </div>
        </form>
    </div>
    <script>
        const provinceList = [
            "AG", "AL", "AN", "AR", "AP", "AT", "AV", "BA", "BT", "BL",
            "BN", "BG", "BI", "BO", "BZ", "BS", "BR", "CA", "CL", "CB",
            "CI", "CE", "CT", "CZ", "CH", "CO", "CS", "CR", "KR", "CN",
            "EN", "FM", "FE", "FI", "FG", "FC", "FR", "GE", "GO", "GR",
            "IM", "IS", "AQ", "SP", "LT", "LE", "LC", "LI", "LO", "LU",
            "MC", "MN", "MS", "MT", "VS", "ME", "MI", "MO", "MB", "NA",
            "NO", "NU", "OG", "OT", "OR", "PD", "PA", "PR", "PV", "PG",
            "PU", "PE", "PC", "PI", "PT", "PN", "PZ", "PO", "RG", "RA",
            "RC", "RE", "RI", "RN", "RM", "RO", "SA", "SS", "SV", "SI",
            "SR", "SO", "TA", "TE", "TR", "TO", "TP", "TN", "TV", "TS",
            "UD", "AO", "VA", "VE", "VB", "VC", "VR", "VV", "VI", "VT"
        ];
    
        const selectProvince = document.getElementById("provincia");
    
        provinceList.forEach(province => {
            const option = document.createElement("option");
            option.value = province;
            option.textContent = province;
            selectProvince.appendChild(option);
        });
    </script>
    <script>
            function toggleForm(form) {
                const login = document.getElementById('login');
                const signup = document.getElementById('signup');
                if(window.innerWidth > 846){
                    const signupBtn = document.getElementById('signupBtn');
                    const loginBtn = document.getElementById('loginBtn');
                    if (form === 'login') {
                        login.style.transform = 'translateX(0%)';
                        loginBtn.style.transform = 'translateX(30vw) translateY(-50%)';
                        signup.style.transform = 'translateX(100%)';
                        signupBtn.style.transform = 'translateX(calc(30vw - 50%))  translateY(-50%)';
                    } else if (form === 'signup') {
                        signup.style.transform = 'translateX( 0%)';
                        signupBtn.style.transform = 'translateX(0%) translateY(-50%)';
                        login.style.transform = 'translateX( -100%)';
                        loginBtn.style.transform = 'translateX(calc(-30vw + 50%)) translateY(-50%)';
                    }
                }else{
                    if (form === 'login') {
                        login.style.transform = 'translateX(0%)';
                        signup.style.transform = 'translateX(50%)';
                    } else if (form === 'signup') {
                        signup.style.transform = 'translateX( -100%)';
                        login.style.transform = 'translateX( -110%)';
                    }
                }
            }
    </script>
</body>
</html>