<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambia Password</title>
    <style>
        header{
            position: fixed;
            top: 0;
            width: 100%;
            background-color: #f1f1f1;
        }
        header img{
            max-width: 500px;
            width: 100%;
            mix-blend-mode: multiply;
            opacity: 0.8;
        }
        body {
          font-family: Arial, sans-serif;
          background-color: #3d405b;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100vh;
        }
        
        .container {
          max-width: 400px;
          margin: 50px auto;
          padding: 20px;
          background: #fff;
          border-radius: 5px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
        
        h2, p {
          text-align: center;
        }
        
        form {
          margin-top: 20px;
          display: flex;
          align-items: center;
          flex-direction: column;
        }
        
        input[type="email"] {
          display: block;
          width: 90%;
          outline: none;
          
          border: solid #3d405b;
          border-width: 0 0 2px 0 ;
          
          font-size: 1.2rem;
          padding: 7px;
        }
        
        input[type="submit"] {
          width: fit-content;
          margin-top: 20px;
          background-color: #3d405b;
          color: #fff;
          border: none;
          padding: 10px 15px;
          border-radius: 5px;
          cursor: pointer;
          transition: .5s;
        }
        
        input[type="submit"]:hover {
          background-color: #5e66ae;
        }
        </style>
        </head>
        <body>
            <header>
                <img src="https://autoscuolacentrale.com/templates/autoscuola/images/logo_autoscuola.svg" alt="" width="500px">
            </header>
        <div class="container">
          <h2>Cambia Password</h2>
          <p>Ti invieremo un email con le istruzioni per il reset</p>
          <form action="/resetPassword" method="post">
            <!-- <label for="email">Email:</label> -->
            <input type="email" id="email" placeholder="Email" name="email" required>
        
            <input type="submit" value="Cambia Password">
          </form>
        </div>
        
        </body>
        </html>