<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/adminBacheca.css">
    <script src="https://cdn.tiny.cloud/1/1wl5g3idjhsbvpztx4uilizdps5s9m41iwc1pkpeus8u9hqb/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
    <script>
        tinymce.init({
            selector: 'textarea',
            plugins: 'lists',
            toolbar: 'undo redo | bold italic | bullist',
            ai_request: (request, respondWith) => respondWith.string(() => Promise.reject("See docs to implement AI Assistant")),
        });
      </script>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container">
        <form class="bacheca" action="/bacheca" method="POST">
            <label for="bacheca">Modifica la bacheca:</label>
            <textarea name="bacheca" rows="5" cols="50"><%= bachecaContent[0].content %></textarea>
            <button type="submit">Conferma</button>
        </form>
    </div>
</body>
</html>
