<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #71a1cb;
            color: #fff;
            margin: 0;
            padding: 0;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            margin-top: 150px;
            padding: 20px;
        }

        form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-bottom: 20px;
            background-color: #fff;
        }
    
        table, th, td {
            color: #333;
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        p {
            font-size: 16px;
            color: #333;
            margin-bottom: 10px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
            color: #000;
        }

        textarea {
            width: 100%;
            height: 100px;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 5px;
            margin-bottom: 10px;
        }

        button {
            background: #4075b2;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background: #1a6dcb;
        }
    </style>
</head>
<body>
    <%- include('header.ejs') %>
    <div class="container">
        
        <form class="bacheca" action="/editFormatoEmail" method="POST">
            <div class="legenda">
                <p>Usa come segnaposto i seguenti valori che verrano sostituiti nell'email</p>
                <table>
                    <tr><td>(NOME)</td></tr>
                    <tr><td>(COGNOME)</td></tr>
                    <tr><td>(DATA)</td></tr>
                    <tr><td>(DAORA)</td></tr>
                    <tr><td>(AORA)</td></tr>
                    <tr><td>(LINKPOSIZIONE)</td></tr>
                </table>
            </div>
            <div class="fields">
                <label for="formatoField">Modifica il formato per le email di prenotazione guide:</label>
                <textarea name="formatoField" rows="5" cols="50"><%= content %></textarea>
                <button type="submit">Conferma</button>
            </div>
        </form>
    </div>

</body>
</html>
