
<header class="header">
    <h1>Admin Area</h1>
    <nav>
        <ul>
            <li><a href="/admin/lessons">Visualizza lezioni di guida</a></li>
            <li><a href="/admin/users">Visualizza utenti</a></li>
            <!-- Aggiunti link per visualizzare le guide e gli utenti -->
            <li><a href="/admin/guides">Visualizza guide</a></li>
            <li><a href="/admin/users">Visualizza utenti</a></li>
        </ul>
    </nav>
</header>