<link rel="stylesheet" href="/styles/adminHeader.css">

<header class="header">
    <h1>Admin Area</h1>
    <nav>
        <ul>
            <li><a href="/admin/users">Visualizza utenti</a></li>
            <li><a href="/admin/guides">Visualizza guide</a></li>
            <li><a href="/admin/addGuides">Aggiungi guide</a></li>
            <li><a href="/admin/bacheca">Modifica bacheca</a></li>
            <li><a href="/admin/approvazioneUtenti">Approva Utenti</a></li>
            <li><a href="/admin/oreIstruttori">Visualizza Ore Istruttori</a></li>
        </ul>
    </nav>
</header>