<link rel="stylesheet" href="/styles/adminHeader.css">

<header class="header">
    <h1>Admin Area</h1>
    <nav>
        <ul>
            <li><a href="/admin/users">Visualizza utenti</a></li>
            <li><a href="/admin/guides">Visualizza guide</a></li>
        </ul>
    </nav>
</header>