*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #71a1cb;
}
section{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: -100 !important;
}
.container {
    
    max-width: 400px;
    margin-top: 50px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #000;
    font-size: 24px;
    margin-bottom: 20px;
}

form{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}



input[type="text"],
input[type="time"],
input[type="date"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

input[type="radio"] {
    margin-right: 10px;
}

button {
    background: #4075b2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    text-transform: capitalize;
}

button:hover {
    background: #1a6dcb;
}

.duration {
    width: 40%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.duration div{
    width: 100%;
    position: relative;
    padding-block: 5px;
    display: flex;
    align-items: baseline;
    flex-direction: row;
}
table {
    width: 400px;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
  }
  tr:first-of-type th:first-of-type{
    border-top-left-radius: 20px;
    border-bottom: 2px solid #000;

  }
  tr:first-of-type th:last-of-type{
    border-top-right-radius: 20px;
    border-bottom: 2px solid #000;
  }
  tr:last-of-type td:first-of-type{
    border-bottom-left-radius: 20px;
    border: none;
  }
  tr:last-of-type td:last-of-type{
    border-bottom-right-radius: 20px;
    border: none;
  }

.ui-state-highlight{
    text-align: center  !important;
    background-color: green !important;
    border: none !important;

}

.ui-state-active{
    text-align: center  !important;
    border: none !important;
    background-color: #0000 !important;
}
td:not(.greenDate):has(.ui-state-default){
    text-align: center  !important;
    border: none !important;
    background-color: #0000 !important;
}



.card {
    margin-block: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f8f9fa; /* Colore di sfondo chiaro */
}

.card-header {
    padding: 20px;
    background-color: #e9ecef; /* Colore di sfondo leggermente più scuro */
    border-bottom: 1px solid #dee2e6;
}

.card-header h3 {
    margin: 0;
    font-size: 1.25rem;
}

.card-body {
    padding: 20px;
}

.list-group {
    margin: 0;
    padding: 0;
}

.list-group-item {
    list-style: none;
    border: none;
    padding: 10px 0;
    border-bottom: 1px solid #dee2e6;
}

.list-group-item:last-child {
    border-bottom: none;
}

.list-group-item span {
    font-weight: bold;
}

.ui-datepicker{
    position: absolute !important;
    top:50% !important;
    left:50% !important;
    transform: translateX(-50%) translateY(-50%);
}
.ui-datepicker-header{
    background: #4075b2 !important;
    color: #fff !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: min-content !important;
}
.ui-datepicker-next, .ui-datepicker-prev{
    padding-top: 5px;
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
    background: #0000 !important;
    border: 2px solid #0000 !important;
}
.ui-state-disabled, .ui-datepicker-unselectable, .ui-state-default{
    border: none !important;
    
}
.ui-state-disabled{
    opacity: 0 !important;
}
.greenDate a {
    border: 2px solid #0000 !important;
    font-size: 1rem;
    padding: 5px !important;
    text-align: center !important;
    color: green !important;
    background: #0000 !important;
}

.redDate a {
    border: 2px solid #0000 !important;
    padding: 5px !important;
    font-size: 1rem;
    text-align: center !important;
    color: red !important;
    background: #0000 !important;
}
td{
    background: #0000;
}
.ui-datepicker-today{
    background-color: transparent !important;
}
.ui-state-highlight{
    text-align: center  !important;
    background-color: rgb(77, 198, 77) !important;
    border: none !important;

}
.ui-state-highlight {
    border: 1px solid #0000 !important;
    
    color: #0000 !important;
}
