*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #71a1cb;
}
main{
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-bottom: 20px;
}

th:not(:first-of-type), td:not(:first-of-type) {
    text-align: center;
}
th, td{
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f4f4f4;
}

tr:hover {
    background-color: #f5f5f5;
}

h2 {
    text-transform: capitalize;
    color: #f5f5f5;
    margin-bottom: 20px;
}

.si{
    font-weight: 700;
    color: green;
}
.no{
    font-weight: 700;
    color: red;
}
.deleteGuide{
    color: red;
    cursor: pointer;
}

.userInfo{
    color: #007bff;
    cursor: pointer;
}

#infosContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    filter: drop-shadow(5px 5px 5px #000000ae);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
#infosContainer h2{
    width: 100%;
    color: #fff;
    background: #007bff;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
    border-radius: 8px 8px 0 0;
}
#infosContainer h2 a{
    position: absolute;
    top: 0;
    right: -2px;
    color: #fff;
    transition: .5s;
}
#infosContainer h2 a:hover{
    color: red;
}
.field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

.field h3 {
    font-size: 1.2rem;
    font-weight: 1100;
    color: #121212;
    margin: 0;
}

.field p {
    padding-left: 10px;
    font-size: 1.1rem;
    font-weight: 700;
    
    color: #4e4e4eb5;
    margin: 0;
}



.ui-datepicker-header{
    background: #5992cf !important;
    color: #fff !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: min-content !important;
}
.ui-datepicker-next, .ui-datepicker-prev{
    padding-top: 5px;
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
    background: #0000 !important;
    border: 2px solid #0000 !important;
}
.ui-state-disabled, .ui-datepicker-unselectable, .ui-state-default{
    border: none !important;
    
}
.ui-state-disabled{
    opacity: 0 !important;
}
.greenDate a {
    border: 2px solid #0000 !important;
    font-size: 1rem;
    padding: 5px !important;
    text-align: center !important;
    color: green !important;
}
.ui-datepicker-header{
    z-index: -100;
}
/* Stili per la data odierna */
.ui-datepicker-today{
    background-color: transparent !important;
    /* color: aqua !important; */
}
 .ui-state-highlight {
    border: 1px solid #0000 !important;
    background: #0000 !important;
    color: #0000 !important;
}
.ui-state-active{
    background: #80909f !important;
}
/* Stili per le date non disponibili */
.redDate a {
    border: 2px solid #0000 !important;
    padding: 5px !important;
    font-size: 1rem;
    text-align: center !important;
    color: red !important;
}
.disabled{
    cursor: not-allowed !important;
    pointer-events: none;
}


.day-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
}

.day-title {
    color: #121212;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.guide-info {
    margin-bottom: 10px;
}

.guide-name {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.guide-table {
    width: 100%;
    border-collapse: collapse;
}

.guide-table th,
.guide-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
.deleteAllGuides{
    background: red;
    padding: 10px;
    color: #ccc;
    border-radius: 5px;
    border: none;
    outline: none;
}
.si {
    color: green;
    font-weight: bold;
}

.no {
    color: red;
    font-weight: bold;
}

.material-symbols-outlined {
    margin-right: 5px;
}





#calendario-container {
    margin-left: 50px;
    margin-bottom: 20px;
}

#lezioni-disponibili{
    margin-top: 25px;
}
