@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap');
 *{
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     font-family: "Gotu", sans-serif;
     font-weight: 400;
     font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

header {
    background-color: #343a40;
    color: white;
    padding: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-title{
    text-transform: capitalize;
}

section {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    max-width: 300px;
    height: fit-content;
    overflow: hidden;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

section:has(.removeBooking) tr:has(.book, .bookDisabled){
    display: none;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}

.table th {
    background-color: #007bff;
    border: 2px solid #0000;
    color: white;
    font-weight: bold;
    border-radius: 20px;
}

.book, .removeBooking, .bookDisabled {
    padding: 8px 8px;
    border-radius: 4px;
    outline: #0000;
    border: 2px solid #0000;
}
.bookDisabled{
    background-color: #80909f;
    color: white;
}
.book {
    cursor: pointer;
    background-color: #28a745;
    color: white;
}

.removeBooking {
    background-color: #dc3545;
    color: white;
}

.book:hover{
    opacity: 0.8;
}
.warning{
    margin-top: 25px;
    text-align: center;
    color: red;
    text-transform: capitalize;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 50;
    word-spacing: 5px;
    font-style: normal !important;
}
aside{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: auto;
    background: #007bff;
    border-radius: 0 0 20px 20px;
}
aside input{
    position: absolute;
}





aside span{
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 50;
    font-style: normal !important;
}
aside .esami, aside .bacheca{
    background: #80909f;
    max-width: 400px;
    width: fit-content;
    height: fit-content;
    padding: 20px;
    color: #fff;
    border-radius: 5px;
}
aside .esami nav, aside .bacheca nav{
    font-size: 1.3rem;
    background: #343a40;
    width: 100%;
    height: fit-content;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 0 0;
}

aside .esami nav,
aside .esami p,
aside .esami strong,
aside .bacheca nav{
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif !important;
    font-weight: 50;
    font-style: normal !important;
    padding: 10px;
}

aside .bacheca p{
    padding: 10px;
    font-size: 1.1rem;
    font-family: "Gotu", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.esame{
    background-color: #fff;
    border-inline: 2px solid #343a40;
    border-top: 1px solid #343a40;
}
.esame p:has(.pagato){
    color: green;
}
.esame p:has(.daPagare){
    color: rgb(114, 29, 29);
    cursor: pointer;
}
.esame:last-of-type{
    border-bottom: 2px solid #343a40;
    border-radius: 0 0 5px 5px;
}

.bachecaText p{
    background: #fff;
    color: #343a40;
    border-radius: 0 0 5px 5px;
    border: 2px solid #343a40;
}

.material-symbols-outlined {
    cursor: pointer;

  color: #f8f9fa;
  padding: 10px;
  margin: 10px;
}






/* Stili per le date disponibili */
.ui-datepicker-header{
    background: #5992cf !important;
    color: #fff !important;
    border-radius: 20px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    height: min-content !important;
}
.ui-datepicker-next, .ui-datepicker-prev{
    padding-top: 5px;
}

.ui-datepicker-next:hover, .ui-datepicker-prev:hover{
    background: #0000 !important;
    border: 2px solid #0000 !important;
}
.greenDate a {
    font-size: 1rem;
    padding: 5px !important;
    text-align: center !important;
    /* border: 2px solid green !important; */
    color: green !important;
}

/* Stili per le date non disponibili */
.redDate a {
    padding: 5px !important;
    /* border: 2px solid red !important; */
    font-size: 1rem;
    text-align: center !important;
    color: red !important;
}

/* Stili per la data odierna */
.ui-datepicker-today{
    background-color: transparent !important;
    /* color: aqua !important; */
}
 .ui-state-highlight {
    border: 1px solid #0000 !important;
    background: #0000 !important;
    color: #0000 !important;
}
.ui-state-active{
    background: #80909f !important;
}



/* Stile per il modulo di pagamento */
.paymentModal {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    border: 1px solid #999696;
    filter: drop-shadow(15px 15px 2px #32327f93);
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    transition: 1s opacity;
}

.paymentModal label {
    color: #fff;
    display: block;
    font-size: 1.1rem;
    font-weight: bold;
}

.paymentModal .form-group {
    margin-bottom: 15px;
}

.paymentModal #payButton {
    background-color:#fff ;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    color: #0056b3;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.paymentModal #payButton i{
    font-size: 1.2rem;
}
.paymentModal #payButton:hover {
    background-color: #286ab1;
    color: #fff;
}
